.typographyInter26pxRegular 
 {
  
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 26px;
  letter-spacing:  
  0em;
  text-indent: 0px;
  
}    

.typographyInter23pxRegular 
 {
  
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 23px;
  letter-spacing:  
  0em;
  text-indent: 0px;
  
}    

.typographyInter20pxRegular 
 {
  
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  letter-spacing:  
  0em;
  text-indent: 0px;
  
}    

.typographyInter18pxRegular 
 {
  
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  letter-spacing:  
  0em;
  text-indent: 0px;
  
}    

.typographyInter16pxRegular 
 {
  
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  letter-spacing:  
  0em;
  text-indent: 0px;
  
}    

.typographyInter14pxRegular 
 {
  
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  letter-spacing:  
  0em;
  text-indent: 0px;
  
}    

.typographyInter13pxRegular 
 {
  
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  letter-spacing:  
  0em;
  text-indent: 0px;
  
}    

